@model WebAppInternet.Models.Clients

@{
    ViewBag.Title = "Modifier mon compte";
}

<h2>Modifier mon compte</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)


    <div class="form-group">
        Email
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Nom de compte
        <div class="col-md-10">
            @Html.EditorFor(model => model.Autorisations.userName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Autorisations.userName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Mot de passe
        <div class="col-md-10">
            @Html.EditorFor(model => model.Autorisations.motPasse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Autorisations.motPasse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Civilite
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.civilite, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.civilite, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Nom
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.nom, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        Prenom
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.prenom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Adresse
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.adresse, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.adresse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Telephone
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.telephone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.telephone, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        Date de naissance
        <div class="col-md-10">
            @Html.EditorFor(model => model.Personnes.dateNaissance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Personnes.dateNaissance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
