@model WebAppInternet.Models.Autorisations

@{
    ViewBag.Title = "Connexion";
}

<div>
    @if (@Session["username"] == null)
    {
        <h1>Veuillez saisir vos identifiants.</h1>
        <br />
        <br />
        using (Html.BeginForm())
        {
            <p>
                Identifiant : @Html.TextBox("f_userName")

                Mot de passe : @Html.Password("f_motPasse")
                <input type="submit" value="Connexion" />
            </p>

        }
        <br />
        @ViewData["Error1"]
        @ViewData["Error2"]

    }
    else
    {
        <p>Vous êtes connecté en tant que @Session["username"].</p>
    }
</div>
