@model WebAppInternet.Models.Voyages


@{
    ViewBag.Title = "Voyages";
}

<h2>@Html.DisplayFor(model => model.Destinations.region) - @Html.DisplayFor(model => model.Destinations.pays) - @Html.DisplayFor(model => model.Destinations.continent)</h2>

<div>
    <hr />
    <img src="~/Content/Pictures/natural-landscape.jpg" alt="Paysage" height="400" width="500">
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayFor(model => model.dateAller) - @Html.DisplayFor(model => model.dateRetour) <br /><br />
        </dt>

        <dt>
            @Html.DisplayFor(model => model.tarifToutCompris)€ tout compris <br /><br />
        </dt>

        <dt>
            @Html.DisplayFor(model => model.Destinations.description) <br <br />
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Retourner à la liste des voyages", "Index")
</p>
