@model WebAppInternet.Models.Personnes

@{
    ViewBag.Title = "Informations participants";
}

<h2>Informations des participants au voyage vers @Session["region"]</h2>

@if (1 == 2)
{
    <form action="/Voyages/InfosParticipants" method="get">
        <!--Sélecteur permettant d'indiquer de 1 à 9 participants-->
        <fieldset>
            Nombre de participants <select id="numberOfParticipants" name="Participants">
                @for (int j = 1; j < 10; j++)
                {
                    <option value="@j">@j</option>
                }
            </select>

            <p><input type="submit" value="C'est parti" /> </p>

        </fieldset>
    </form>
}
else
{
    ViewData["nombreParticipants"] = 1;
}

@Html.AntiForgeryToken()
@using (Html.BeginForm())
{
    if (ViewData["nombreParticipants"] != null)
    {
        for (int i = 1; i <= (int)ViewData["nombreParticipants"]; i++)
        {
            <div class="form-horizontal">
                <fieldset>
                    <legend>Participant :</legend>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        Civilité*
                        <div class="col-md-10">
                            @Html.RadioButtonFor(model => model.civilite, "Mr", new { id = "Mr" })
                            @Html.Label("rbMr", "Mr")
                            @Html.RadioButtonFor(model => model.civilite, "Mme", new { id = "Mme" })
                            @Html.Label("rbMme", "Mme")
                            @Html.RadioButtonFor(model => model.civilite, "Autre", new { id = "Autre" })
                            @Html.Label("rbAutre", "Autre")
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        Nom*
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        Prénom*
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        Adresse*
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        Téléphone
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        Date de naissance*
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.dateNaissance, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dateNaissance, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
                <br />

            </div>
        }
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (@Session["participantId"] == null)
            {
                <input type="submit" class="btn btn-info" value="Ajouter un participant" onclick="location.href='@Url.Action("InfosParticipants", "Voyages", 1)'" />

            }
            else
            {
                <input type="submit" class="btn btn-info" value="Ajouter un autre participant" onclick="location.href='@Url.Action("InfosParticipants", "Voyages", 1)'" />
            }

        </div>
    </div>
    <br />
    <div>*Champs obligatoires</div>
                }

<br />
@if (@Session["participantId"] != null)
{
    <a href="/Voyages/Paiement">Continuer la réservation</a>
}



