@model WebAppInternet.Models.Dossiers

@{
    ViewBag.Title = "Detail";
}

<h2>Details mes réservations</h2>

<div>
    <h4>Dossiers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.raisonAnnulation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.raisonAnnulation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clients.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voyages.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voyages.id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
