<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS/Style.css")" type="text/css" />
</head>

<body>
    <header>


        <ul id="liste">
            <li class="gauche">@Html.ActionLink("Accueil", "Index", "Home")</li>

            <li class="gauche">@Html.ActionLink("Voyages", "Index", "Voyages")</li>

            @if (@Session["Username"] == null)
            {



                <li class="droite">@Html.ActionLink("Connexion", "Connexion", "Home")</li>


                <li class="droite">@Html.ActionLink("Inscription", "Create", "Personnes")</li>

            }
            else
            { <!-- A convertir en menu dépliant-->


                <li class="gauche">@Html.ActionLink("Mes réservations", "Index", "Dossiers")</li> <!-- mettre directement à Details where dossiers.idclient = clients.id -->

                <li class="droite">@Html.ActionLink("Déconnexion", "Deconnexion", "Home")</li>
                <li class="droite">@Html.ActionLink("Mon compte", "Index", "Clients")</li> <!-- mettre directement à Details where idclient = clients.id -->

            }
        </ul>

        <br /><br />


    </header>
    <div id="main">
        @RenderBody()
    </div>
    <footer>
        <p> BoVoyages @DateTime.Now.Year  ---  @Session["userName"]</p>
    </footer>
</body>
</html>
